/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); */

.course {
	max-width: 100%;
	margin: 20px;
	/* width: 700px; */
}

.card-shade {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
	display: flex;
	overflow: hidden;
}

.card-size {
	
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: goldenrod;
	color: #fff;
	padding: 20px;
	/* max-width: 40%; */
	max-width: 400px;
	min-width: 250px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	/* width: 80%; */
}
